* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #C1B5AD;
}

header {
  /* width: calc(100vw - 6em); */
  display: flex;
  margin: 0 auto;
  background-color: orange;
  border-radius: 2em 2em 2em 2em;
  /* justify-content: center; */

}

.logo {
  flex: 1;
  align-self: flex-start;
  padding: 10px;
}

nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-self: center;
    padding: 30px;
}

nav .link {
    padding: 20px;
    /* align-self: flex-end; */
}

nav a {
    font-size: 180%;
    text-decoration: none;
    color: white
}

nav a:hover {
    text-decoration: none;
    color: #ED1818;
    font-size: 230%;
    text-shadow: 3px 3px #000000;
}

#main {
  display: flex;
  /* justify-content: flex-end; */
  flex-direction: row;
  /* height: 100%; */
}

#map {
  display: flex;
  flex: 1 66%;
  height: 100vh;
  justify-content: flex-start;
  align-self: flex-start;
  align-content: flex-start;
  width: 66%;
  height: 100vh;
}

.interface {
  display: flex;
  flex-direction: column;
  flex: 1 33%;
  justify-content: flex-end;
  align-self: flex-end;
  align-content: flex-end;
}

.ui {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    background: green;
    padding: 30px;
    width: 33%;
    /* z-index: 10; */
}

.ui-selector {
  display: flex;
  flex-direction: column;
}

.ui label {
  font-size: 200%;
}

.itinerary {
  display: flex;
  flex-direction: column;
  width: 33%
}

.itntop {
  background: yellow;
  padding: 10px;
}

.actv {
  background: lightblue;
  align-content: center;
  padding: 15px;
}
